<br/>
<div class="container">
	<h1>Mon panier</h1>
		<br/><br/>


	<% total_price = 0 %>
	<% @inMyCart.each do |item| %>
	<p>
		<%= item.name %><br/>
		Prix : <%= item.price %>€ <br/>

		<% cart_item = CartItem.find_by(cart_id: @cart.id, item_id: item.id) %>
		<% quantity = CartItem.find_by(cart_id: @cart.id, item_id: item.id).quantity %>
		Quantité : <%= quantity %>
		<% total_price = total_price + (item.price * quantity) %>
		<br/>
		<%= link_to "Supprimer l'article du panier", cart_item_path(cart_item), method: :delete %>
	</p>
	<% end %>
	<br/>
	<h3 class="text-right"> Prix total :</h3>
	<p class="text-right"> <%= total_price %>€ </p>
	<% if @inMyCart != [] %>
	<h3><%= link_to "Valider votre commande", new_order_path, class: "btn btn-primary" %></h3>
	<% end %>
</div>
