<div class="container"><br/>
	<% if @account.first_name == nil || @account.last_name == nil %>
	<h3>Veuillez renseigner votre nom et prénom <br/>avec le bouton "modifier mes informations" en bas de la page.</h3>
	<% else %>
	<h1><%= @account.first_name %> <%= @account.last_name %></h3>
	<% end %>

	<% if current_user.is_admin == true %>
	<%= link_to "Ajouter un produit", new_item_path %><br/>
	<% end %>
	<br/>
	<br/>

	<% if @account.street == nil || @account.zipcode == nil || @account.city == nil%>
		<h3>Veuillez renseigner votre adresse <br/>avec le bouton "modifier mes informations" en bas de la page.</h3>
	<% else %>
	<h3>Adresse:</h3>
	<p><%= @account.street %><br/>
	<%= @account.zipcode %><br/>
	<%= @account.city %></p>
	<% end %>
	<br/>
	<%= link_to "Modifier mes informations", edit_account_path %><br/>
	<%= link_to "Actualiser mon email / mot de passe", edit_user_registration_path %>
</div>